# Ignore node_modules directory
node_modules/

# Ignore MongoDB directory
mongoDB/

# Ignore package-lock.json files anywhere in the directory tree
**/package-lock.json

# Ignore service log files
service.log
